use:
	- nette
	- modernizations

typeAnalysis: phpstan

paths:
	- tests

fileExtensions:
	- php
	- phpt

overrides:
	-
		paths: [src]
		nameResolution: certain
		use:
			- compilerOptimizations
			- deprecations
