package: dibi/dibi
intent: deprecations

since 5.1:
	replacedCalls:
		'Dibi\Loggers\FileLogger::__construct($file, null)': 'new \Dibi\Loggers\FileLogger($file)'
		'Dibi\Loggers\FileLogger::__construct($file, null, $errorsOnly)': 'new \Dibi\Loggers\FileLogger($file, errorsOnly: $errorsOnly)'
		'Dibi\Bridges\Tracy\Panel::__construct($explain, null)': 'new \Dibi\Bridges\Tracy\Panel($explain)'
	forbiddenMembers:
		Dibi\Connection::__sleep: 'override `__serialize()`, which returns the data as an array; PHP no longer calls `__sleep()` on a connection'
		Dibi\Connection::__wakeup: 'override `__unserialize()`, which receives the data as an array; PHP no longer calls `__wakeup()` on a connection'

since 5.0.2:
	replacedMembers:
		Dibi\Type::TEXT: Text
		Dibi\Type::BINARY: Binary
		Dibi\Type::BOOL: Bool
		Dibi\Type::INTEGER: Integer
		Dibi\Type::FLOAT: Float
		Dibi\Type::DATE: Date
		Dibi\Type::DATETIME: DateTime
		Dibi\Type::TIME: Time
		Dibi\Type::TIME_INTERVAL: TimeInterval
		Dibi\Fluent::REMOVE: Remove
		Dibi\Drivers\MySqliDriver::ERROR_ACCESS_DENIED: ErrorAccessDenied
		Dibi\Drivers\MySqliDriver::ERROR_DATA_TRUNCATED: ErrorDataTruncated
		Dibi\Drivers\MySqliDriver::ERROR_DUPLICATE_ENTRY: ErrorDuplicateEntry
		Dibi\Drivers\FirebirdDriver::ERROR_EXCEPTION_THROWN: ErrorExceptionThrown
		dibi::VERSION: Version
		dibi::AFFECTED_ROWS: Dibi\Fluent::AffectedRows
		dibi::IDENTIFIER: Dibi\Fluent::Identifier

since 5.0.1:
	replacedClasses:
		Dibi\Bridges\Nette\DibiExtension22: Dibi\Bridges\Nette\DibiExtension3

since 5.0:
	forbiddenClasses:
		Dibi\Strict: 'there is no replacement; the trait is gone; a class that used it behaves as plain PHP on an undefined method or property'

since 4.2:
	forbiddenMembers:
		Dibi\Connection::translateArgs: 'there is no replacement; the hook is gone; the SQL is generated by `translate()`, which is final and takes the arguments as variadic parameters'

since 4.1:
	replacedMembers:
		Dibi\Connection::affectedRows: getAffectedRows
		Dibi\Connection::insertId: getInsertId
		dibi::affectedRows: getAffectedRows
		dibi::insertId: getInsertId
	replacedCalls:
		'Dibi\DateTime::modifyClone($modify)': 'modify($modify)'
	forbiddenMembers:
		'Dibi\DateTime::modifyClone()': 'the object is immutable; use it as it is instead of a copy'
		Dibi\Strict::extensionMethod: 'there is no replacement; extension methods are gone'
		Dibi\Connection::extensionMethod: 'there is no replacement; extension methods are gone'
		Dibi\DataSource::extensionMethod: 'there is no replacement; extension methods are gone'
		Dibi\DateTime::extensionMethod: 'there is no replacement; extension methods are gone'
		Dibi\Event::extensionMethod: 'there is no replacement; extension methods are gone'
		Dibi\Fluent::extensionMethod: 'there is no replacement; extension methods are gone'
		Dibi\Result::extensionMethod: 'there is no replacement; extension methods are gone'
